<div class="row text-center">
    <h1>{{title}}</h1>
    <h4>
        <a class="fileInput">
            <span class="glyphicon glyphicon-cloud-upload"> Upload</span>
            <input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
        </a>
    </h4>
</div>
<div id="musiclist">
    <table class="table table-condensed table-hover  table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Year</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {{# if tracks }}
                {{# each tracks}}
                    <tr class="track">
                        <td>{{@index}}</td>
                        <td style="display: none">{{this.file}}</td>
                        <td class="name">{{this.name}}</td>
                        <td>{{this.artist}}</td>
                        <td>{{this.year}}</td>
                        <td>{{this.album}}</td>
                        <td>{{this.genre}}</td>
                        <td style="display: none">
                            <audio controls>
                                <source src="../uploads/{{this.file}}" type="audio/mpeg">
                            </audio>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="6">Track playlist is empty</td>
            </tr>    
            {{/if}}
        </tbody>
    </table>
</div>