<div class="row text-center">
    <h1>{{title}}</h1>
    <h4>
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload
        <a class="fileInput">            
            <input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
        </a>
    </h4>
</div>
<div id="musiclist">
    <table class="table table-condensed table-hover  table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Year</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{# if tracks }}
                {{# each tracks}}
                    <tr class="track">
                        <td class="id">{{@index}}</td>
                        <td class="file" style="display: none">{{this.file}}</td>
                        <td class="name">{{this.name}}</td>
                        <td>{{this.artist}}</td>
                        <td>{{this.year}}</td>
                        <td>{{this.album}}</td>
                        <td>{{this.genre}}</td>
                        <td style="display: none">
                            <audio id="audio" controls>
                                <source src="../uploads/{{this.file}}" type="audio/mpeg">
                            </audio>
                        </td>
                        <td>
                            <a href="#myModal" data-toggle="modal" data-music-id="{{this._id}}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="/remove/{{this._id}}" data-music-id="{{this._id}}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        <td>
                    </tr>                    
                    </div>
                    </div>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="6">Track playlist is empty</td>
            </tr>    
            {{/if}}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit details</h4>
            </div>
            <form action="/track" method="POST">
                <div class="modal-body">            
                       <input id="trackId" name="trackId" type="hidden">     
                        <div class="form-group">
                            <label for="tname">Track name</label>
                            <input type="text" class="form-control" id="inputName" name="tname" placeholder="Trackname">
                        </div>
                        <div class="form-group">
                            <label for="artist">Artist</label>
                            <input type="text" class="form-control" id="inputArtist" name="artist" placeholder="Artist">
                        </div>
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="text" class="form-control" id="inputYear" name="year" placeholder="Year">
                        </div>
                        <div class="form-group">
                            <label for="album">Album</label>
                            <input type="text" class="form-control" id="inputAlbum" name="album" placeholder="Album">
                        </div>
                        <div class="form-group">
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control" id="inputGenre" name="genre" placeholder="Genre">
                        </div>              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes" />
                </div>
            </form>
            </div>
        </div>
    </div>
</div>